<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Current Time</title>
        <style>
            h2{
                font-size: 28pt;
            }
            h4{
                margin: 0;
                font-size: 20pt;
            }
        </style>
    </head>
    <body>
        <center>
            <h2>The Current Time and Date:</h2>
        </center>
        
        @{
            string[] months = new string[]{"Jan", "Feb", "March", "April", "June", "July", "Aug", "Sept", "Oct", "Nov", "Dec"};
            DateTime CurrentTime = DateTime.Now;
            var time = CurrentTime.ToString("h:mm tt");

            <!-- var month = months[int.Parse(CurrentTime.Month) - 1]; -->
            var day = CurrentTime.ToString("MM");
            var year = CurrentTime.ToString("Y");

            <center>
                <h4>@day @year</h4>
                <h4>@time</h4>
            </center>
            
        }
    </body>
</html>
