<html>
  <head>
    <title>Dojo Survey</title>
  </head>
  <body>
    <h1><u>Submitted Info</u></h1>
    Name: @ViewBag.name
    <br />
    Dojo Location: @ViewBag.location
    <br />
    Favorite Language: @ViewBag.language
    <br />
    Comment: @ViewBag.comment

    <br /><br />
    <button type="button" onclick="location.href = '/';">Go Back</button>
  </body>
</html>
