<form action="/submit_review" method="post">
    <br />Reviewer Name: <input type="text" name="name">
    <br />Restaurant Name: <input type="text" name="restaurant">
    
    <br />Stars:
    <select name="stars">
        <option value="1">&#9733;</option>
        <option value="2">&#9733;&#9733;</option>
        <option value="3">&#9733;&#9733;&#9733;</option>
        <option value="4">&#9733;&#9733;&#9733;&#9733;</option>
        <option value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
    </select>

    <br />Review: <input type="text" name="review">

    <br />Date of Visit: <input type="date" name="dateVisited" max="@ViewBag.today">
    <br><input type="submit"> 
</form>