@for(int i = 0; i<@ViewBag.quotes.Length; i++){
    <div>
        <div>
            Author: @ViewBag.quotes[i]["author"]
        </div>
        <div>
            Quote: @ViewBag.quotes[i]["quote"]
        </div>
    </div>
}
