<div class="container">
  <h2>Welcome @ViewBag.Name</h2>
  
  <form action='/logoff' method='post'>
    <input style="display:none;" name="password" type="password">
    <input class="btn btn-primary" type='submit' value='Log Off'>
  </form>
</div>