<form action="/addWedding" method="post">
    <label name="wedderOne">Wedder One:</label> 
    <input name="wedderOne" type="text">

    <br />


    <label name="wedderTwo">Wedder Two:</label> 
    <input name="wedderTwo" type="text">

    <br />
    
    <label name="weddingDate">Wedding Date:</label>
    <input name="weddingDate" type="date" min="@ViewBag.today">
    <br><input type="submit"> 
</form>